apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: {{ include "digdirator.fullname" . }}
  labels:
    {{- include "digdirator.labels" . | nindent 4 }}
    team: {{ .Values.team }}
spec:
  image: "{{ .Values.image.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
  port: 8080
  {{- toYaml .Values.application | nindent 2 }}
  liveness:
    path: /metrics
  readiness:
    path: /metrics
  prometheus:
    enabled: true
    path: /metrics
  env:
    - name: "LEADER_ELECTION_ENABLED"
      value: "true"
  envFrom:
    - secret: digdirator-env
  accessPolicy:
    inbound:
      rules:
        - application: prometheus
    outbound:
      external:
        - host: {{ .Values.admin.apiHost | quote }}
      {{- if not .Values.onprem.enabled }}
        - host: cloudkms.googleapis.com
      {{- end }}
  {{- if .Values.onprem.enabled }}
  webproxy: true
  env:
    - name: "GOOGLE_APPLICATION_CREDENTIALS"
      value: "/var/run/secrets/google/sa.json"
  filesFrom:
    - secret: digdirator-google-service-account
      mountPath: "/var/run/secrets/google"
  {{- end }}
  skipCaBundle: true
