
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: idportenclients.nais.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.secretName
    name: Secret
    type: string
  - JSONPath: .status.clientID
    name: ClientID
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: nais.io
  names:
    kind: IDPortenClient
    listKind: IDPortenClientList
    plural: idportenclients
    shortNames:
    - idportenclient
    singular: idportenclient
  scope: Namespaced
  subresources: {}
  validation:
    openAPIV3Schema:
      description: IDPortenClient is the Schema for the IDPortenClients API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: IDPortenClientSpec defines the desired state of IDPortenClient
          properties:
            accessTokenLifetime:
              description: AccessTokenLifetime is the maximum lifetime in seconds
                for the returned access_token from ID-porten.
              maximum: 3600
              minimum: 1
              type: integer
            clientURI:
              description: ClientURI is the URL to the client to be used at DigDir
                when displaying a 'back' button or on errors
              type: string
            frontchannelLogoutURI:
              description: FrontchannelLogoutURI is the URL that ID-porten sends a
                requests to whenever a logout is triggered by another application
                using the same session
              type: string
            postLogoutRedirectURIs:
              description: PostLogoutRedirectURI is a list of valid URIs that ID-porten
                may redirect to after logout
              items:
                type: string
              type: array
            redirectURI:
              description: RedirectURI is the redirect URI to be registered at DigDir
              pattern: ^https:\/\/
              type: string
            secretName:
              description: SecretName is the name of the resulting Secret resource
                to be created
              type: string
            sessionLifetime:
              description: SessionLifetime is the maximum session lifetime in seconds
                for a logged in end-user for this client.
              maximum: 7200
              minimum: 3600
              type: integer
          required:
          - redirectURI
          - secretName
          type: object
        status:
          description: ClientStatus defines the observed state of Current Client
          properties:
            clientID:
              description: ClientID is the corresponding client ID for this client
                at Digdir
              type: string
            correlationID:
              description: CorrelationID is the ID referencing the processing transaction
                last performed on this resource
              type: string
            keyIDs:
              description: KeyIDs is the list of key IDs for valid JWKs registered
                for the client at Digdir
              items:
                type: string
              type: array
            synchronizationHash:
              description: SynchronizationHash is the hash of the Instance object
              type: string
            synchronizationState:
              description: SynchronizationState denotes the last known state of the
                Instance during synchronization
              type: string
            synchronizationTime:
              description: SynchronizationTime is the last time the Status subresource
                was updated
              format: date-time
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
